.container {
  /* --- Mobile --- */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  /* --- Tablet --- */
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  /* --- Desktop --- */
  @media screen and (min-width: 1158px) {
    max-width: 1158px;
  }
}
