/*----- HEADER - LOGO --- */
.logo {
  display: block;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  color: #4d5ae5;
  text-transform: uppercase;

  line-height: 1.1;
  letter-spacing: 0.03em;
}

.header-container .logo {
  margin-right: 76px;
  /* padding: 24px 0; */
}

.header-container .logo-part {
  color: #2e2f42;
}

.footer-container .logo {
  margin-bottom: 16px;
  text-align: center;
}

.footer-container .logo-part {
  color: #f4f4fd;
}
