/* ======== TEAM ======== */
.our-team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 74px 0;

  /* --- Tablet --- */
  @media screen and (min-width: 768px) {
    gap: 64px 24px;
  }
}

.team-card {
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);

  /* --- Desktop --- */
  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
}

.team-thumb {
  background-color: #ffffff;
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;

  color: #2e2f42;
}

.team-text {
  margin-bottom: 8px;
}
