.section {
  padding-top: 96px;
  padding-bottom: 96px;

  /* --- Desktop --- */
  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  color: #2e2f42;
}
